In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.cluster import MiniBatchKMeans
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.base import TransformerMixin, BaseEstimator

In [7]:
from dateutil import parser

def get_nLast_dates(s, n = 1):
    date = parser.parse(s)
    index = dates.index(date)
    result = []
    for x in range(1, n + 1):
        former_index = index - x
        if (former_index >= 0):
            result.append(dates[former_index].strftime("%d/%m/%Y"))
        else: 
            result.append(None)
    return result

def create_columns_data(store, dept, current_date, column_count = 1, default_value = 0):
    dates = get_nLast_dates(current_date, column_count)
    result_dict = {}
    for date in dates:
        result_dict.update({'curr_date-' + str(dates.index(date) + 1): former_data.get((store, dept, date), default_value)})
    return result_dict

In [15]:
from datetime import datetime
feature_data_set = pd.io.parsers.read_csv('/Users/omer.h/Code/jupyter/Retail data/Features data set.csv')
sales_data_set = pd.io.parsers.read_csv('/Users/omer.h/Code/jupyter/Retail data/sales data-set.csv')
store_data_set = pd.io.parsers.read_csv('/Users/omer.h/Code/jupyter/Retail data/stores data-set.csv')

data_store_sales = pd.merge(sales_data_set, store_data_set, how='inner', on=['Store'], left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

data = pd.merge(data_store_sales, feature_data_set, how='inner', on=['Store', 'Date'], left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [17]:
former_Dataframe = data[['Store', 'Dept', 'Date', 'Weekly_Sales']]
former_data = former_Dataframe.groupby(['Store', 'Dept', 'Date']).mean().to_dict()['Weekly_Sales']
dates = sorted(list(map(lambda x:parser.parse(x), list(data['Date'].unique()))))

former_weekly_sales_raw = data.apply(lambda x: create_columns_data(x['Store'], x['Dept'], x['Date'], 3), axis=1)
former_weekly_sales = pd.DataFrame.from_records(former_weekly_sales_raw.values, index=data.index)
result = pd.concat([data, former_weekly_sales], axis=1)
data_backup = data
data = result
#data.Date = data.Date.apply(lambda x: parser.parse(x))
#data.Date = data_backup.Date

In [18]:
data.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,curr_date-1,curr_date-2,curr_date-3
0,1,1,01/04/2011,20398.09,False,A,151315,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False,19124.58,55931.23,44912.86
1,1,2,01/04/2011,46991.58,False,A,151315,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False,35819.83,59889.32,49303.28
2,1,3,01/04/2011,8734.19,False,A,151315,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False,8266.14,12080.36,11986.84
3,1,4,01/04/2011,34451.90,False,A,151315,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False,36913.80,47893.23,39154.41
4,1,5,01/04/2011,23598.55,False,A,151315,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False,32280.82,85676.09,59589.48

In [10]:



y = data.Weekly_Sales
X = data.drop('Weekly_Sales', axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

train, test = train_test_split(data, test_size=0.2, random_state=42)

from auto_ml import Predictor
from auto_ml.utils import get_boston_dataset

df_train, df_test = data, data

column_descriptions = {
    'Weekly_Sales': 'output',
    'Store': 'categorical',
    'Dept': 'categorical',
     'Date': 'categorical',
    'isHoliday_x': 'categorical',
    'isHoliday_y': 'ignore',
}
print('asdasdasd')
#ml_predictor = Predictor(type_of_estimator='regressor', column_descriptions=column_descriptions)
                         #take,take_log_of_y = False, calibrate_final_model = True, feature_learning = True)

ml_predictor = Predictor(type_of_estimator='regressor', column_descriptions=column_descriptions)
ml_predictor.take_log_of_y = True
ml_predictor.calibrate_final_model = True
ml_predictor.feature_learning = True

ml_predictor.train(train, ml_for_analytics=True, model_names=['LinearRegression'])

y = test.Weekly_Sales
test = test.drop('Weekly_Sales', axis = 1)
ml_predictor.score(test, y)

#X_train, X_test, y_train, y_test = train_test_split(train, target, test_size=0.2, random_state=42)

asdasdasd
Welcome to auto_ml! We're about to go through and make sense of your data using machine learning, and give you a production-ready pipeline to get predictions with.

If you have any issues, or new feature ideas, let us know at http://auto.ml
You are running on version 2.9.9
Now using the model training_params that you passed in:
{}
After overwriting our defaults with your values, here are the final params that will be used to initialize the model:
{'n_jobs': -2}
Running basic data cleaning
Performing feature scaling
Fitting DataFrameVectorizer
Now using the model training_params that you passed in:
{}
After overwriting our defaults with your values, here are the final params that will be used to initialize the model:
{'n_jobs': -2}


********************************************************************************************
About to fit the pipeline for the model LinearRegression to predict Weekly_Sales
Started at:
2018-02-28 17:08:58
Finished training the pipeline!
Total training time:
0:00:01


Here are the results from our LinearRegression model
Calculating feature responses, for advanced analytics.

/Users/omer.h/anaconda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2010: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

The printed list will only contain at most the top 100 features.
+----+-----------------+----------------+------------+-------------------+-------------------+-----------+-----------+-----------+-----------+
|    | Feature Name    |   Coefficients |      Delta |   FR_Decrementing |   FR_Incrementing |   FRD_abs |   FRI_abs |   FRD_MAD |   FRI_MAD |
|----+-----------------+----------------+------------+-------------------+-------------------+-----------+-----------+-----------+-----------|
| 50 | Date=25/05/2012 |      -115.8776 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 72 | Date=28/10/2011 |       -73.5750 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 76 | Date=04/03/2011 |       -60.5169 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  3 | curr_date-2     |         0.2244 | 10334.9142 |        -2319.5048 |         2319.5048 | 2319.5048 | 2319.5048 | 2319.5048 | 2319.5048 |
|  4 | curr_date-3     |         0.3501 | 10555.8015 |        -3695.3017 |         3695.3017 | 3695.3017 | 3695.3017 | 3695.3017 | 3695.3017 |
|  2 | curr_date-1     |         0.3554 | 10276.2778 |        -3651.7432 |         3651.7432 | 3651.7432 | 3651.7432 | 3651.7432 | 3651.7432 |
| 77 | Date=14/10/2011 |        28.2992 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  1 | MarkDown5       |        76.3944 |     0.1932 |          -14.7572 |           14.7572 |   14.7572 |   14.7572 |   14.7572 |   14.7572 |
|  0 | MarkDown3       |       108.4818 |     2.5876 |         -280.7045 |          280.7045 |  280.7045 |  280.7045 |  280.7045 |  280.7045 |
| 82 | Date=30/12/2011 |       148.8650 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 49 | Date=13/07/2012 |       175.2296 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 98 | Date=24/09/2010 |       180.4064 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 93 | Date=29/07/2011 |       219.5079 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 41 | Date=29/06/2012 |       232.2462 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 46 | Date=06/01/2012 |       252.8114 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 99 | Date=14/09/2012 |       279.9600 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 12 | Store=27        |       289.4739 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 51 | Date=27/07/2012 |       330.2656 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 71 | Date=27/04/2012 |       416.7780 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 67 | Date=15/07/2011 |       543.6340 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 84 | Date=17/09/2010 |       573.6671 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 79 | Date=28/09/2012 |       611.3374 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 22 | Dept=10         |       767.9204 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  8 | Store=10        |       787.8904 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 86 | Date=13/05/2011 |       915.3452 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 80 | Date=22/10/2010 |       917.4035 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 66 | Date=30/03/2012 |       993.0485 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 52 | Date=12/10/2012 |      1042.7769 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 56 | Date=25/02/2011 |      1093.5388 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 55 | Date=02/12/2011 |      1120.7253 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 88 | Date=10/09/2010 |      1122.5040 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 90 | Date=15/10/2010 |      1151.2717 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 78 | Date=16/03/2012 |      1162.1469 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 53 | Date=27/05/2011 |      1204.3920 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 27 | Dept=46         |      1249.6900 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 18 | Dept=5          |      1324.9331 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 15 | Dept=1          |      1327.4232 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 21 | Dept=9          |      1418.6228 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 60 | Date=11/05/2012 |      1525.9861 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 81 | Date=05/11/2010 |      1586.8283 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 92 | Date=08/07/2011 |      1615.3125 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 73 | Date=17/08/2012 |      1647.6928 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 48 | Date=18/05/2012 |      1738.0751 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 65 | Date=21/05/2010 |      1739.9944 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 38 | Date=17/06/2011 |      1744.8373 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 47 | Date=31/08/2012 |      1845.1943 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 83 | Date=10/12/2010 |      1940.4156 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 40 | Date=06/07/2012 |      1944.4730 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 43 | Date=10/08/2012 |      2015.6685 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 89 | Date=03/06/2011 |      2029.5297 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 87 | Date=13/04/2012 |      2132.4576 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 42 | Date=16/12/2011 |      2349.2324 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 19 | Dept=7          |      2361.5615 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 30 | Dept=79         |      2379.0857 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 24 | Dept=23         |      2412.1509 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 13 | Store=31        |      2426.7956 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  9 | Store=11        |      2452.8858 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 68 | Date=25/11/2011 |      2581.7404 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 14 | Store=39        |      2688.5880 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  7 | Store=6         |      3153.3989 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 91 | Date=23/12/2011 |      3231.4702 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 70 | Date=18/11/2011 |      3250.5357 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 61 | Date=09/09/2011 |      3354.4425 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  5 | Store=1         |      3490.6105 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 17 | Dept=4          |      3762.9005 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 75 | Date=18/02/2011 |      3938.3733 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 95 | Date=26/10/2012 |      4107.3444 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 34 | Dept=93         |      4198.2353 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 64 | Date=04/11/2011 |      4312.7746 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 94 | Date=19/10/2012 |      4386.9936 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 69 | Date=22/06/2012 |      4584.7156 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 62 | Date=26/08/2011 |      4656.4790 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 96 | Date=15/06/2012 |      4843.0656 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 58 | Date=19/08/2011 |      4863.0798 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 10 | Store=14        |      4905.6466 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 74 | Date=11/11/2011 |      5222.8520 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 20 | Dept=8          |      5295.6654 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 39 | Date=22/04/2011 |      5395.6961 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
|  6 | Store=2         |      5502.0741 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 23 | Dept=13         |      5548.3733 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 37 | Date=24/12/2010 |      5558.8190 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 85 | Date=01/10/2010 |      5573.1535 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 44 | Date=26/11/2010 |      5697.3706 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 11 | Store=20        |      6140.5708 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 35 | Dept=94         |      6386.9577 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 97 | Date=19/02/2010 |      6836.7263 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 32 | Dept=91         |      7011.2985 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 59 | Date=14/05/2010 |      7372.8971 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 28 | Dept=65         |      7866.8707 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 54 | Date=02/04/2010 |      8486.0725 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 63 | Date=02/07/2010 |      8512.9661 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 57 | Date=17/12/2010 |      8754.1594 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 45 | Date=15/04/2011 |      9405.8581 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 16 | Dept=2          |     10322.9985 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 26 | Dept=40         |     10919.5440 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 31 | Dept=90         |     11244.7024 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 29 | Dept=72         |     11835.7235 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 25 | Dept=38         |     17208.9243 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 36 | Dept=95         |     20879.3103 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
| 33 | Dept=92         |     22942.5653 |   nan      |          nan      |          nan      |  nan      |  nan      |  nan      |  nan      |
+----+-----------------+----------------+------------+-------------------+-------------------+-----------+-----------+-----------+-----------+


*******
Legend:
Importance = Feature Importance
     Explanation: A weighted measure of how much of the variance the model is able to explain is due to this column
FR_delta = Feature Response Delta Amount
     Explanation: Amount this column was incremented or decremented by to calculate the feature reponses
FR_Decrementing = Feature Response From Decrementing Values In This Column By One FR_delta
     Explanation: Represents how much the predicted output values respond to subtracting one FR_delta amount from every value in this column
FR_Incrementing = Feature Response From Incrementing Values In This Column By One FR_delta
     Explanation: Represents how much the predicted output values respond to adding one FR_delta amount to every value in this column
FRD_MAD = Feature Response From Decrementing- Median Absolute Delta
     Explanation: Takes the absolute value of all changes in predictions, then takes the median of those. Useful for seeing if decrementing this feature provokes strong changes that are both positive and negative
FRI_MAD = Feature Response From Incrementing- Median Absolute Delta
     Explanation: Takes the absolute value of all changes in predictions, then takes the median of those. Useful for seeing if incrementing this feature provokes strong changes that are both positive and negative
FRD_abs = Feature Response From Decrementing Avg Absolute Change
     Explanation: What is the average absolute change in predicted output values to subtracting one FR_delta amount to every value in this column. Useful for seeing if output is sensitive to a feature, but not in a uniformly positive or negative way
FRI_abs = Feature Response From Incrementing Avg Absolute Change
     Explanation: What is the average absolute change in predicted output values to adding one FR_delta amount to every value in this column. Useful for seeing if output is sensitive to a feature, but not in a uniformly positive or negative way
*******

None


***********************************************
Advanced scoring metrics for the trained regression model on this particular dataset:

Here is the overall RMSE for these predictions:
9772.3547794

Here is the average of the predictions:
16048.769154142174

Here is the average actual value on this validation set:
16005.976772659684

Here is the median prediction:
10139.4890261

Here is the median actual value:
7646.235

Here is the mean absolute error:
5115.3769631

Here is the median absolute error (robust to outliers):
3170.08333625

Here is the explained variance:
0.818991335102

Here is the R-squared value:
0.818987864202
Count of positive differences (prediction > actual):
45187
Count of negative differences:
39127
Average positive difference:
4812.289929838444
Average negative difference:
-5465.40619539612


***********************************************

-9772.3547794004244

In [11]:
ml_predictor.save(file_name='auto_ml_saved_pipeline_GradientBoosting_withFormerFeatures1.dill')

We have saved the trained pipeline to a filed called "auto_ml_saved_pipeline_GradientBoosting_withFormerFeatures1.dill"
It is saved in the directory:
/Users/omer.h/Code/jupyter/Retail data
To use it to get predictions, please follow the following flow (adjusting for your own uses as necessary:


`from auto_ml.utils_models import load_ml_model
`trained_ml_pipeline = load_ml_model("auto_ml_saved_pipeline_GradientBoosting_withFormerFeatures1.dill")
`trained_ml_pipeline.predict(data)`


Note that this pickle/dill file can only be loaded in an environment with the same modules installed, and running the same Python version.
This version of Python is:
sys.version_info(major=3, minor=6, micro=0, releaselevel='final', serial=0)


When passing in new data to get predictions on, columns that were not present (or were not found to be useful) in the training data will be silently ignored.
It is worthwhile to make sure that you feed in all the most useful data points though, to make sure you can get the highest quality predictions.

'/Users/omer.h/Code/jupyter/Retail data/auto_ml_saved_pipeline_GradientBoosting_withFormerFeatures1.dill'

In [12]:
data.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,01/04/2011,20398.09,False,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False
1,1,2,01/04/2011,46991.58,False,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False
2,1,3,01/04/2011,8734.19,False,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False
3,1,4,01/04/2011,34451.90,False,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False
4,1,5,01/04/2011,23598.55,False,59.17,3.524,NaN,NaN,NaN,NaN,NaN,214.837166,7.682,False

False

In [6]:
file_name = ml_predictor.save()

{'Date': 'categorical',
 'Dept': 'categorical',
 'Store': 'categorical',
 'Weekly_Sales': 'output',
 'isHoliday_x': 'categorical',
 'isHoliday_y': 'ignore'}

In [38]:
file_name = ml_predictor.save()

We have saved the trained pipeline to a filed called "auto_ml_saved_pipeline.dill"
It is saved in the directory:
/Users/omer.h/Code/jupyter/Retail data
To use it to get predictions, please follow the following flow (adjusting for your own uses as necessary:


`from auto_ml.utils_models import load_ml_model
`trained_ml_pipeline = load_ml_model("auto_ml_saved_pipeline.dill")
`trained_ml_pipeline.predict(data)`


Note that this pickle/dill file can only be loaded in an environment with the same modules installed, and running the same Python version.
This version of Python is:
sys.version_info(major=3, minor=6, micro=0, releaselevel='final', serial=0)


When passing in new data to get predictions on, columns that were not present (or were not found to be useful) in the training data will be silently ignored.
It is worthwhile to make sure that you feed in all the most useful data points though, to make sure you can get the highest quality predictions.

In [8]:
ml_predictor.ensemble_config

[]

In [31]:
ml_predictor.trained_final_model.training_features

['Temperature',
 'Fuel_Price',
 'MarkDown1',
 'MarkDown2',
 'MarkDown3',
 'MarkDown4',
 'MarkDown5',
 'CPI',
 'Unemployment',
 'IsHoliday_x',
 'IsHoliday_y',
 'Store=1',
 'Store=2',
 'Store=3',
 'Store=4',
 'Store=5',
 'Store=6',
 'Store=7',
 'Store=8',
 'Store=9',
 'Store=10',
 'Store=11',
 'Store=12',
 'Store=13',
 'Store=14',
 'Store=15',
 'Store=16',
 'Store=17',
 'Store=18',
 'Store=19',
 'Store=20',
 'Store=21',
 'Store=22',
 'Store=23',
 'Store=24',
 'Store=25',
 'Store=26',
 'Store=27',
 'Store=28',
 'Store=29',
 'Store=30',
 'Store=31',
 'Store=32',
 'Store=33',
 'Store=34',
 'Store=35',
 'Store=36',
 'Store=37',
 'Store=38',
 'Store=39',
 'Store=40',
 'Store=41',
 'Store=42',
 'Store=43',
 'Store=44',
 'Store=45',
 'Dept=1',
 'Dept=2',
 'Dept=3',
 'Dept=4',
 'Dept=5',
 'Dept=6',
 'Dept=7',
 'Dept=8',
 'Dept=9',
 'Dept=10',
 'Dept=11',
 'Dept=12',
 'Dept=13',
 'Dept=14',
 'Dept=16',
 'Dept=17',
 'Dept=18',
 'Dept=19',
 'Dept=20',
 'Dept=21',
 'Dept=22',
 'Dept=23',
 'Dept=24',
 'Dept=25',
 'Dept=26',
 'Dept=27',
 'Dept=28',
 'Dept=29',
 'Dept=30',
 'Dept=31',
 'Dept=32',
 'Dept=33',
 'Dept=34',
 'Dept=35',
 'Dept=36',
 'Dept=37',
 'Dept=38',
 'Dept=39',
 'Dept=40',
 'Dept=41',
 'Dept=42',
 'Dept=43',
 'Dept=44',
 'Dept=45',
 'Dept=46',
 'Dept=47',
 'Dept=48',
 'Dept=49',
 'Dept=50',
 'Dept=51',
 'Dept=52',
 'Dept=54',
 'Dept=55',
 'Dept=56',
 'Dept=58',
 'Dept=59',
 'Dept=60',
 'Dept=65',
 'Dept=67',
 'Dept=71',
 'Dept=72',
 'Dept=74',
 'Dept=77',
 'Dept=78',
 'Dept=79',
 'Dept=80',
 'Dept=81',
 'Dept=82',
 'Dept=83',
 'Dept=85',
 'Dept=87',
 'Dept=90',
 'Dept=91',
 'Dept=92',
 'Dept=93',
 'Dept=94',
 'Dept=95',
 'Dept=96',
 'Dept=97',
 'Dept=98',
 'Dept=99',
 'Date=04/11/2011',
 'Date=25/05/2012',
 'Date=19/03/2010',
 'Date=09/03/2012',
 'Date=18/06/2010',
 'Date=16/04/2010',
 'Date=19/08/2011',
 'Date=05/10/2012',
 'Date=21/01/2011',
 'Date=12/03/2010',
 'Date=13/08/2010',
 'Date=26/02/2010',
 'Date=31/12/2010',
 'Date=27/08/2010',
 'Date=23/09/2011',
 'Date=10/02/2012',
 'Date=04/03/2011',
 'Date=30/09/2011',
 'Date=13/07/2012',
 'Date=08/07/2011',
 'Date=12/11/2010',
 'Date=19/11/2010',
 'Date=21/10/2011',
 'Date=16/12/2011',
 'Date=25/06/2010',
 'Date=17/06/2011',
 'Date=16/03/2012',
 'Date=09/09/2011',
 'Date=23/07/2010',
 'Date=09/12/2011',
 'Date=03/09/2010',
 'Date=28/09/2012',
 'Date=07/10/2011',
 'Date=23/12/2011',
 'Date=04/02/2011',
 'Date=11/06/2010',
 'Date=23/04/2010',
 'Date=27/07/2012',
 'Date=19/02/2010',
 'Date=22/10/2010',
 'Date=24/02/2012',
 'Date=04/05/2012',
 'Date=03/06/2011',
 'Date=20/04/2012',
 'Date=11/05/2012',
 'Date=26/10/2012',
 'Date=30/12/2011',
 'Date=30/03/2012',
 'Date=13/01/2012',
 'Date=10/08/2012',
 'Date=15/10/2010',
 'Date=18/05/2012',
 'Date=25/11/2011',
 'Date=05/03/2010',
 'Date=29/04/2011',
 'Date=18/02/2011',
 'Date=27/04/2012',
 'Date=20/01/2012',
 'Date=12/08/2011',
 'Date=01/04/2011',
 'Date=16/07/2010',
 'Date=26/03/2010',
 'Date=06/01/2012',
 'Date=28/10/2011',
 'Date=02/04/2010',
 'Date=21/09/2012',
 'Date=08/10/2010',
 'Date=01/10/2010',
 'Date=20/07/2012',
 'Date=25/03/2011',
 'Date=08/04/2011',
 'Date=02/03/2012',
 'Date=11/03/2011',
 'Date=14/09/2012',
 'Date=17/02/2012',
 'Date=29/10/2010',
 'Date=04/06/2010',
 'Date=27/01/2012',
 'Date=07/09/2012',
 'Date=08/06/2012',
 'Date=17/08/2012',
 'Date=22/06/2012',
 'Date=16/09/2011',
 'Date=17/09/2010',
 'Date=06/07/2012',
 'Date=13/05/2011',
 'Date=05/11/2010',
 'Date=11/11/2011',
 'Date=10/09/2010',
 'Date=14/05/2010',
 'Date=13/04/2012',
 'Date=17/12/2010',
 'Date=30/07/2010',
 'Date=25/02/2011',
 'Date=19/10/2012',
 'Date=03/08/2012',
 'Date=20/08/2010',
 'Date=03/12/2010',
 'Date=24/06/2011',
 'Date=18/03/2011',
 'Date=07/01/2011',
 'Date=28/01/2011',
 'Date=26/11/2010',
 'Date=12/02/2010',
 'Date=02/09/2011',
 'Date=01/06/2012',
 'Date=15/07/2011',
 'Date=03/02/2012',
 'Date=07/05/2010',
 'Date=06/04/2012',
 'Date=14/01/2011',
 'Date=29/06/2012',
 'Date=24/08/2012',
 'Date=01/07/2011',
 'Date=31/08/2012',
 'Date=06/08/2010',
 'Date=20/05/2011',
 'Date=29/07/2011',
 'Date=15/04/2011',
 'Date=10/12/2010',
 'Date=14/10/2011',
 'Date=22/07/2011',
 'Date=21/05/2010',
 'Date=09/07/2010',
 'Date=24/12/2010',
 'Date=28/05/2010',
 'Date=27/05/2011',
 'Date=26/08/2011',
 'Date=02/07/2010',
 'Date=05/08/2011',
 'Date=24/09/2010',
 'Date=12/10/2012',
 'Date=06/05/2011',
 'Date=18/11/2011',
 'Date=11/02/2011',
 'Date=09/04/2010',
 'Date=05/02/2010',
 'Date=23/03/2012',
 'Date=02/12/2011',
 'Date=15/06/2012',
 'Date=30/04/2010',
 'Date=22/04/2011',
 'Date=10/06/2011']

In [33]:

prediction = ml_predictor.predict(test)
p1 = pd.DataFrame(list(map(lambda x: round(x), prediction)))
p1 = p1.assign(predictions=y.values)
p1.columns = ['Predictions', 'Labels']
p1

       Predictions    Labels
0             2152    260.32
1            15856  20258.11
2            64717  74185.53
3              227   3476.29
4            15722  16081.85
5            20584  17170.40
6            37130  41520.03
7            40114  46721.54
8            17781  18705.07
9              797   1396.01
10           -2527    621.07
11            5370   3328.48
12           18694  16508.69
13           17571  20901.58
14              13   1834.12
15           30946  35535.85
16           17113  20040.76
17           13657  10517.84
18           19311  23808.96
19           42733  46976.31
20           14787  17984.66
21           11455   9652.85
22           14446  15393.13
23           19018  16728.61
24            8138   3949.15
25           31677  33078.67
26           57184  57914.99
27            5559   2013.00
28            3364   2594.26
29            5395   3036.36
...            ...       ...
84284         8551    996.42
84285        17487  14252.77
84286         2724     31.50
84287        50140  53665.95
84288        21534  15999.79
84289         4157   3112.88
84290         5631   5109.16
84291         4510   6106.10
84292        15241  10132.27
84293        35794  33091.33
84294        39446  40084.13
84295          923   2445.04
84296        57753  57613.48
84297         8427   7249.27
84298        14507  19381.65
84299         3891   5267.17
84300         9170   5243.58
84301        11064  16056.39
84302         3285   2156.81
84303         3497   7285.28
84304        17216  10207.80
84305        10866   9625.20
84306         3565   2138.83
84307        30176  27363.52
84308         2194    153.42
84309        15528  24294.42
84310        29740  21915.83
84311        -1033   2263.74
84312         3222   3510.89
84313        12583  10163.57

[84314 rows x 2 columns]

In [37]:
p2 = test.assign()

TypeError: assign() takes 1 positional argument but 2 were given

In [29]:
ml_predictor.model_names

['GradientBoostingRegressor']

In [17]:
train, test = train_test_split(data, test_size=0.2, random_state=42)

In [20]:
len(test)

84314

In [21]:
len(train)

337256